<% layout("layouts/boilerplate") %> <br /><br />

<h2 class="text-center mb-5"><b>Create New Listing</b></h2>
<div class="row">
  <div class="col-8 offset-2">
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title should be valid!</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description should be valid!</div>
      </div>

      <!-- Image Link -->
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Upload Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid!</div>
      </div>

      <!-- Price -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price per night</label>
          <input
            name="listing[price]"
            type="number"
            class="form-control"
            required
          />
          <!-- <div class="valid-feedback">Price looks good!</div> -->
          <div class="invalid-feedback">Price should be valid!</div>
        </div>

        <!-- Country -->
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            class="form-control"
            required
          />
          <!-- <div class="valid-feedback">Country looks good!</div> -->
          <div class="invalid-feedback">Country should be valid!</div>
        </div>
      </div>

      <!-- Add button -->
      <br />
      <button type="submit" class="add-btn btn btn-dark">Add</button>
      <br />
      <br />
    </form>
  </div>
</div>
